
    
    <!--Main layout-->
    <main class="pt-3">
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b867324de278e00111a46c8&product=inline-share-buttons"></script>
        <div class="container-fluid">
            
            <!-- Section: Question of the Day -->
            <section class="my-3">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-9">

                  <!-- Card -->
                  <div class="card card-cascade wider reverse">

                    <!-- Card content -->
                    <div class="card-body text-center">

                      <!-- Title -->
                      <h1 class="h3-responsive"><a>Question of the Day 15 Sep, 2018</a></h1>
                      <!-- Data -->
                      <p class="font-weight-bold dark-grey-text"><i class="fa fa-calendar pr-2"></i>15 Sep, 2018</p>
                      <!-- <p class="small"></p> -->
                      <!-- Social shares -->
                      <div class="sharethis-inline-share-buttons"></div>
                      <!-- Social shares -->

                    </div>
                    <!-- Card content -->

                  </div>
                  <!-- Card -->

                  <!-- Excerpt -->
                  <div class="mt-5 text-justify">
                    <p class="font-weight-bold red-text">Q. Bay of Bengal has a specific economic and strategic significance to India. Highlight various initiatives central to Bay of Bengal and thier importance to India. (Write your answer in 250 words)</p>
                  </div>
                  <hr class="my-5">
                  <div class="container mt-5 text-center">
                      <h3 class="">How to submit your answer ?</h3>
                      <p class="lead text-center pt-3">Write your answer in 250 words. Scan and upload the file. Get checked by our experts. </p>
                      <a target="_blank" href="" class="btn btn-danger waves-effect waves-light">Upload your answer file & get checked
                          <i class="fa fa-upload ml-2"></i>
                      </a>

                      <p class="lead text-center pt-3">You also can write your answer below and Start / Join a discussion.</p>
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->

              <hr class="my-5">

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-9 mb-9">
                      <div id="disqus_thread"></div>
                      <script>

                      /**
                      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                      
                      var disqus_config = function () {
                      this.page.url = 'http://localhost/_development/mdbootstrap-angular/#!/answer-writing-full/';  // Replace PAGE_URL with your page's canonical URL variable
                      this.page.identifier = 'answer-writing-full/1'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                      };
                      
                      (function() { // DON'T EDIT BELOW THIS LINE
                      var d = document, s = d.createElement('script');
                      s.src = 'https://jigyasaias.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                      })();
                      </script>
                      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  </div>
              </div>
            </section>
            <!-- Section: Question of the Day -->

        </div>
        
    </main>
    <!--/Main layout-->