
    
    <!--Main layout-->
    <main class="pt-3">
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b867324de278e00111a46c8&product=inline-share-buttons"></script>

        <div class="container-fluid">
            <!-- Section: Blog v.4 -->
            <section class="my-5">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-9">

                  <!-- Card -->
                  <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body text-center">

                      <!-- Title -->
                      <h1 class="h3-responsive"><a>Indigenization of Technology And Developing New Technology</a></h1>
                      <!-- Data -->
                      <p class="font-weight-bold dark-grey-text"><i class="fa fa-calendar pr-2"></i>29 Aug, 2018</p>
                      <p class="small">Recently government of India announced Regulations for Unmanned Aerial Vehicle (UAV) also known as drone.</p>
                      
                      <!-- Social shares -->
                      <div class="sharethis-inline-share-buttons"></div>

                    </div>
                    <!-- Card content -->

                  </div>
                  <!-- Card -->

                  <!-- Excerpt -->
                  <div class="mt-5 text-justify">
                    <h2 class="h4-responsive"><a>Paragraph Heading 1</a></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa nemo enim ipsam voluptatem quia voluptas sit qui officia deserunt mollitia animi, id est laborum et dolorum fuga quidem rerum facilis est distinctio.
                    </p>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum.</p>

                    <h2 class="h4-responsive"><a>Paragraph Heading 2</a></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa nemo enim ipsam voluptatem quia voluptas sit qui officia deserunt mollitia animi, id est laborum et dolorum fuga quidem rerum facilis est distinctio.
                    </p>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum.</p>

                  </div>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </section>
            <!-- Section: Blog v.4 -->
        </div>
        
    </main>
    <!--/Main layout-->