
<!--Main layout-->
<main class="pt-2">
  <div class="main-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-9 col-md-9">
          <!-- Section: Blog v.1 -->
          <section class="my-3">
           
            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-lg-12">

                <!-- Post title -->
                <h4 class="mb-3"><a href="#" class="green-text">Title of the article</a></h4>
                <!-- Category -->
                <a href="#!" class="pink-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery pr-2"></i>Food</h6></a>
                <!-- Excerpt -->
                <p class="small text-justify">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.</p>
                <!-- Post data -->
                <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
                <!-- Read more button -->
                <a class="btn btn-success btn-md">Read more</a>
                <a class="btn btn-outline-default waves-effect btn-md">Mark as Important</a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-3">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-lg-12">

                <!-- Post title -->
               <h4 class="mb-3"><a href="#" class="green-text">Title of the article</a></h4>
                <!-- Category -->
                <a href="#!" class="pink-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-image pr-2"></i>Lifestyle</h6></a>
                <!-- Excerpt -->
                <p class="small text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                <!-- Post data -->
                <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
                <!-- Read more button -->
                <a class="btn btn-success btn-md">Read more</a>
                <a class="btn btn-outline-warning waves-effect btn-md"><i class="fa fa-check"></i> Marked Important</a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-3">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-lg-12">

                <!-- Post title -->
               <h4 class="mb-3"><a href="#" class="green-text">Title of the article</a></h4>
                <!-- Category -->
                <a href="#!" class="pink-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-suitcase pr-2"></i>Travels</h6></a>
                <!-- Excerpt -->
                <p class="small text-justify">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.</p>
                <!-- Post data -->
                <p>by <a><strong>Carine Fox</strong></a>, 11/08/2018</p>
                <!-- Read more button -->
                <a class="btn btn-success btn-md">Read more</a>
                <a class="btn btn-outline-default waves-effect btn-md">Mark as Important</a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </section>
          <!-- Section: Blog v.1 -->
        </div>
      </div>
    </div>
  </div>
</main>
<!--/Main layout-->
