
    
    <!--Main layout-->
    <main class="pt-3">
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b867324de278e00111a46c8&product=inline-share-buttons"></script>
        <div class="container-fluid">
            <!-- Section: Blog v.4 -->
            <section class="my-5">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-9">

                  <!-- Card -->
                  <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                      <img class="card-img-top" ng-src="{{newsImgLocation}}{{records._Image}}" alt="Sample image">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                      <!-- Title -->
                      <h1 class="h4-responsive" ng-bind="records._Heading"></h1>
                      <span style="display: none;" id="news_id">{{records._NewsId}}</span>
                      <!-- Data -->
                      <p class="font-weight-bold dark-grey-text"><i class="fa fa-calendar pr-2"></i>{{records._PublishDate | date:'dd MMM, yyyy'}}</p>
                      <p>
                        <a ng-repeat="category in records.categories" class="mx-1"><span class="badge badge-pill orange" ng-bind="category._CatgName | capitalize"></span></a>
                      </p>
                      <!-- Social shares -->
                      <div class="sharethis-inline-share-buttons"></div>
                      <!-- Social shares -->

                    </div>
                    <!-- Card content -->

                  </div>
                  <!-- Card -->

                  <!-- Excerpt -->
                  <div class="mt-5 text-justify" ng-repeat="content in records.content">
                    <p ng-bind-html="content._Content | trusted"></p>
                  </div>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <hr class="my-3">

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-9 mb-9">
                      <div id="disqus_thread"></div>
                      <script>

                      /**
                      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                      
                      var disqus_config = function () {
                      var news_id = $('#news_id').html();//$('[ng-controller="currentaffairsDetail"]').scope().news_id;
                      this.page.url = 'http://localhost/_development/jigyasaias/#!/current-affairs-full/'+news_id;  // Replace PAGE_URL with your page's canonical URL variable
                      this.page.identifier = 'current-affairs-full/'+news_id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                      //this.page.title='';
                      };
                      
                      (function() { // DON'T EDIT BELOW THIS LINE
                      var d = document, s = d.createElement('script');
                      s.src = 'https://jigyasaias.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                      })();
                      </script>
                      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  </div>
              </div>

            </section>
            <!-- Section: Blog v.4 -->
        </div>
        
    </main>
    <!--/Main layout-->