
<!--Main layout-->
<main class="pt-2">
  <div class="main-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <!-- Section: Blog v.1 -->
          <section class="my-3">
            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-lg-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-lg-8">

                <!-- Category -->
                <!-- <a href="#!" class="green-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery pr-2"></i>Food</h6></a> -->
                <!-- Post title -->
                <h4 class="mb-3"><a href="#!current-affairs-full" class="green-text">Audit Report of Child Care Institutions</a></h4>
                <!-- Excerpt -->
                <p class="small text-justify">Relevance: GS Paper II - Mechanisms, laws, institutions and Bodies constituted for the protection and betterment of these vulnerable sections.</p>
                <!-- Post data -->
                <p class="dark-grey-text font-weight-bold"><i class="fa fa-calendar pr-2"></i>29 Aug, 2018</p>
                <!-- Read more button -->
                <a href="#!current-affairs-full" class="btn btn-success btn-md">Read more</a>
                <a class="btn btn-outline-warning waves-effect btn-md"><i class="fa fa-check"></i> Marked Important</a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-3">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-lg-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-lg-8">

                <!-- Category -->
                <!-- <a href="#!" class="pink-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-image pr-2"></i>Lifestyle</h6></a> -->
                <!-- Post title -->
                <h4 class="mb-3"><a href="#!current-affairs-full" class="green-text">Manned space mission before 75th I-Day: ISRO chief</a></h4>
                <!-- Excerpt -->
                <p class="small text-justify">Relevance: GS Paper III - Achievements of Indians in science & technology; indigenization of technology and developing new technology. Awareness in the fields of Space.</p>
                <!-- Post data -->
                <p class="dark-grey-text font-weight-bold"><i class="fa fa-calendar pr-2"></i>29 Aug, 2018</p>
                <!-- Read more button -->
                <a href="#!current-affairs-full" class="btn btn-pink btn-md">Read more</a>
                <a class="btn btn-outline-default waves-effect btn-md">Mark as Important</a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-3">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-lg-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-lg-8">

                <!-- Category -->
                <!-- <a href="#!" class="indigo-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-suitcase pr-2"></i>Travels</h6></a> -->
                <!-- Post title -->
                <h4 class="mb-3"><a href="#!current-affairs-full" class="green-text">Prime Minister’s Science, Technology and Innovation Advisory Council (PM-STIAC)</a></h4>
                <!-- Excerpt -->
                <p class="small text-justify">Relevance: GS Paper II - Structure, organization and functioning of the Executive</p>
                <!-- Post data -->
                <p class="dark-grey-text font-weight-bold"><i class="fa fa-calendar pr-2"></i>29 Aug, 2018</p>
                <!-- Read more button -->
                <a href="#!current-affairs-full" class="btn btn-indigo btn-md">Read more</a>
                <a class="btn btn-outline-default waves-effect btn-md">Mark as Important</a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </section>
          <!-- Section: Blog v.1 -->
        </div>
      </div>
    </div>
  </div>
</main>
<!--/Main layout-->
