
    
    <!--Main layout-->
    <main class="pt-3">
        <div class="container-fluid">
            <!-- Section: Blog v.4 -->
            <section class="my-5">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-9">
                  <!-- Excerpt -->
                  <div class="text-justify">
                    <h1 class="title h2-responsive">What is Civil Service Examination</h1>
                    <p class="dark-grey-text">Civil Services Examination is a competitive examination through which government of India recruits candidates to All India Services (IAS, IPS, IFos), Central Services (IRS, IRTS, ICAS, ADAS, IAAS, IIS and others)</p>

                    <p class="dark-grey-text">It is conducted in two phases – a preliminary examination consisting of two objective-type papers (general studies and aptitude test), and a main examination consisting of nine papers of subjective type, followed by a personality test (interview).</p>
                    <h2 class="h4-responsive"><a>Paragraph Heading 1</a></h2>
                    <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa nemo enim ipsam voluptatem quia voluptas sit qui officia deserunt mollitia animi, id est laborum et dolorum fuga quidem rerum facilis est distinctio.
                    </p>
                    <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum.</p>

                    <h2 class="h4-responsive"><a>Paragraph Heading 2</a></h2>
                    <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa nemo enim ipsam voluptatem quia voluptas sit qui officia deserunt mollitia animi, id est laborum et dolorum fuga quidem rerum facilis est distinctio.
                    </p>
                    <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum.</p>

                  </div>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </section>
            <!-- Section: Blog v.4 -->
        </div>
        
    </main>
    <!--/Main layout-->