   
<!--Main layout-->
<main class="pt-1" id="scrollspy-area">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <section class="pt-3" id="v-1">

                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">

                        <!--Grid column-->
                        <div class="col-xl-2 col-lg-6 col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="https://mdbootstrap.com/img/logo/jquery.png" class="my-3" alt="">
                                    <br>
                                    <a href="#" role="button" class="btn btn-default btn-sm px-2 waves-effect waves-light">Latest Updates</a>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-xl-2 col-lg-6 col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="https://mdbootstrap.com/img/logo/angular.png" class="my-3" alt="">
                                    <br>
                                    <a href="#" role="button" class="btn btn-default btn-sm px-2 waves-effect waves-light">Magazine</a>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-xl-2 col-lg-6 col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="https://mdbootstrap.com/img/logo/react.png" class="my-3" alt="">
                                    <br>
                                    <a href="#" role="button" class="btn btn-default btn-sm px-2 waves-effect waves-light">Daily Quiz</a>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-xl-2 col-lg-6 col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="https://mdbootstrap.com/img/logo/vue.png" class="my-3" alt="">
                                    <br>
                                    <a href="#" role="button" class="btn btn-default btn-sm px-2 waves-effect waves-light">Downloads</a>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-xl-2 col-lg-6 col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="https://mdbootstrap.com/img/logo/brandflow.png" class="my-3" alt="">
                                    <br>
                                    <a href="#" role="button" class="btn btn-default btn-sm px-2 waves-effect waves-light">Articles</a>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-xl-2 col-lg-6 col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="https://mdbootstrap.com/img/logo/brandflow.png" class="my-3" alt="">
                                    <br>
                                    <a href="#" role="button" class="btn btn-default btn-sm px-2 waves-effect waves-light">Recent Affairs</a>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>

                <hr class="between-sections mt-0">

                <section class="my-5">

                    <h2 class="h1-responsive font-weight-bold text-center my-5">Daily Study Programme</h2>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-8 col-md-8 mb-4">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Marketing/free/main/angular/mdb-angular-free.jpg" class="img-fluid" alt="Dailt Study Programme">
                                    <a id="home-resources-mdb-story" href="javascript:void(0)">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body card-body-cascade text-center">
                                    <!--Title-->
                                    <p class="card-title h3">Daily Routine Model for Self Preparing Students.</p>
                                    <!-- Subtitle 
                                    <h1 class="indigo-text h6 mt-2 mb-3">
                                      <strong></strong>
                                  </h1>-->


                                  <!-- CTA -->
                                  <a id="angular-about-jumbotron-download" href="https://mdbootstrap.com/angular-bootstrap-getting-started/" class="btn btn-success btn-lg waves-effect waves-light">Today's Plan & Test
                                    <i class="fa fa-check ml-1"></i>
                                </a>
                                <a id="angular-about-jumbotron-preview" target="_blank" href="https://mdbootstrap.com/angular/components/" class="btn btn-danger btn-lg waves-effect waves-light">View Guidelines
                                    <i class="fa fa-bar-chart ml-1"></i>
                                </a>
                                
                                <!-- CTA -->

                            </div>
                            <!--/.Card content-->
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card text-center">
                            <!--Card image-->
                            <div class="embed-responsive embed-responsive-16by9 rounded-top">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BY6EwKi9eF8" data-src="https://www.youtube.com/embed/BY6EwKi9eF8" allowfullscreen=""></iframe>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Guide to Daily Study Programme. How to Prepare ?</h4>
                                <!--Text-->
                                <p class="card-text">Best plan to prepare for UPSC IAS Exam through targated self study. And appear the Daily Test every evening. Follow the Guidelines for more information.</p>
                                <a id="home-resources-start" href="https://www.youtube.com/channel/UCuZt9kn9KlA85oT2JLH6CLQ/" target="_blank" class="btn btn-primary waves-effect waves-light">More Videos</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>

                        <!-- <div id="dynamicContentWrapper-fronPage" class="col-lg-4 col-md-12">
                            <div class="card card-cascade narrower mt-0">
                                <div class="view view-cascade gradient-card-header info-color"><h2 class="h5 mb-0">Subscribe to our newsletter</h2></div>
                                <div class="card-body card-body-cascade text-center ">
                                    <p><strong>Do not miss any important update.</strong></p>
                                    <form action="" method="post" class="validate" novalidate="novalidate">
                                        <div class="font-weight-bold">
                                            <div id="mce-responses" class="clear">
                                                <div class="response p-4" id="mce-error-response" style="display:none"></div>
                                                <div class="response p-4" id="mce-success-response" style="display:none"></div>
                                            </div>
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_461480655ccce528d909d3f42_0e60d6d505" tabindex="-1" value="">
                                            </div>
                                        </div>
                                        <div class="md-form">
                                            <input type="text" id="mce-FNAME" class="form-control" value="" name="FNAME">
                                            <label for="mce-FNAME" class="">Your name</label>
                                        </div>
                                        <div class="md-form">
                                            <input type="email" id="mce-EMAIL" class="form-control" value="" name="EMAIL">
                                            <label for="mce-EMAIL" class="">Your email address</label>
                                        </div>
                                        <i class="btn btn-danger waves-input-wrapper waves-effect waves-light" style="color:rgb(255, 255, 255);background:rgba(0, 0, 0, 0)">
                                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="waves-button-input" style="background-color:rgba(0,0,0,0);">
                                        </i>
                                        <p class="small grey-text">I agree to receive the newsletter and information on chosen topics from MDB. The administratoris StartupFlow s.c. located in Kijowska 7, Warsaw. The administrator processes data followingthe<a target="_blank" href="https://mdbootstrap.com/privacy-policy/"> Privacy Policy</a>.</p>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!--Grid row-->
                </section>

                <hr class="between-sections mt-0">

                <section class="my-5">
                    <h2 class="h1-responsive font-weight-bold text-center my-5">Join Best Packages</h2>
                    <!--Grid row-->
                    <div class="row my-4 wow fadeIn text-center" style="visibility: visible; animation-name: fadeIn;">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-angular.jpg" class="card-img-top" alt="">
                                    <a href="https://mdbootstrap.com/angular/" target="_blank">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Prelims 2019 Master Series</h4>
                                    <!--Text-->
                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <h2 class="my-2 teal-text"><i class="fa fa-inr"></i> 7400.00</h2>
                                    <a href="#!package-detail" class="btn blue-gradient btn-md waves-effect waves-light">View Syllabus
                                        <i class="fa fa-chevron-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-react.jpg" class="card-img-top" alt="">
                                    <a href="https://mdbootstrap.com/react/" target="_blank">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">General Studies 2019</h4>
                                    <!--Text-->
                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <h2 class="my-2 teal-text"><i class="fa fa-inr"></i> 6800.00</h2>
                                    <a href="#!package-detail" class="btn blue-gradient btn-md waves-effect waves-light">View Syllabus
                                        <i class="fa fa-chevron-right ml-2"></i>
                                    </a>
                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-vue.jpg" class="card-img-top" alt="">
                                    <a href="https://mdbootstrap.com/vue/" target="_blank">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Current Affairs Series 2019</h4>
                                    <!--Text-->
                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <h2 class="my-2 teal-text"><i class="fa fa-inr"></i> 2200.00</h2>
                                    <a href="#!package-detail" class="btn blue-gradient btn-md waves-effect waves-light">View Syllabus
                                        <i class="fa fa-chevron-right ml-2"></i>
                                    </a>
                                </div>

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row mb-4 wow fadeIn text-center" style="visibility: visible; animation-name: fadeIn;">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/wp-content/uploads/2017/11/brandflow-tutorial-fb.jpg" class="card-img-top" alt="">
                                    <a href="https://mdbootstrap.com/automated-app-start/" target="_blank">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">CSAT Test Series 2019</h4>
                                    <!--Text-->
                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <h2 class="my-2 teal-text"><i class="fa fa-inr"></i> 1900.00</h2>
                                    <a href="#!package-detail" class="btn blue-gradient btn-md waves-effect waves-light">View Syllabus
                                        <i class="fa fa-chevron-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/wp-content/uploads/2018/01/push-fb.jpg" class="card-img-top" alt="">
                                    <a href="https://mdbootstrap.com/web-push-start/" target="_blank">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">DTSP Test series</h4>
                                    <!--Text-->
                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <h2 class="my-2 teal-text"><i class="fa fa-inr"></i> 2000.00</h2>
                                    <a href="#!package-detail" class="btn blue-gradient btn-md waves-effect waves-light">View Syllabus
                                        <i class="fa fa-chevron-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-react.jpg" class="card-img-top" alt="">
                                    <a href="https://mdbootstrap.com/react/" target="_blank">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Mains 2019 Master Series</h4>
                                    <!--Text-->
                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <h2 class="my-2 teal-text"><i class="fa fa-inr"></i> 14500.00</h2>
                                    <a href="#!package-detail" class="btn blue-gradient btn-md waves-effect waves-light">View Syllabus
                                        <i class="fa fa-chevron-right ml-2"></i>
                                    </a>
                                </div>

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>

                <hr class="between-sections mt-0">

                <section class="magazine-section my-5">

                  <!-- Section heading -->
                  <h2 class="h1-responsive font-weight-bold text-center my-5">Recent Affairs</h2>
                  <!-- Section description -->
                  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit id laborum.</p>

                  <!-- Grid row -->
                  <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12">

                      <!-- Featured news -->
                      <div class="single-news mb-lg-0 mb-4">

                        <!-- Image -->
                        <div class="view overlay rounded z-depth-1-half mb-4">
                          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Sample image">
                          <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!-- Data -->
                    <div class="news-data d-flex justify-content-between">
                      <a href="#!" class="deep-orange-text"><h6 class="font-weight-bold"><i class="fa fa-cutlery pr-2"></i>Culinary</h6></a>
                      <p class="font-weight-bold dark-grey-text"><i class="fa fa-clock-o pr-2"></i>27/02/2018</p>
                    </div>

                  <!-- Excerpt -->
                  <h3 class="font-weight-bold mb-3"><a href="#!current-affairs-full" class="green-text">Title of the news</a></h3>
                  <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

              </div>
              <!-- Featured news -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12">

              <!-- Small news -->
              <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-3">

                    <!--Image-->
                    <div class="view overlay rounded z-depth-1 mb-4">
                      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" alt="Sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">
                <!-- Excerpt -->
                <h5 class="font-weight-bold text-truncate mb-3"><a href="#!current-affairs-full" class="green-text">Title of the current affairs goes here from now with new heading</a></h5>
                <p class="dark-grey-text pull-left"><i class="fa fa-calendar"></i> 26/02/2018</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Small news -->

    <!-- Small news -->
    <div class="single-news mb-4">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-3">

            <!--Image-->
            <div class="view overlay rounded z-depth-1 mb-4">
              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-9">
        <!-- Excerpt -->
        <h5 class="font-weight-bold text-truncate mb-3"><a href="#!current-affairs-full" class="green-text">Title of the current affairs goes here from now with new heading</a></h5>
        <p class="dark-grey-text pull-left"><i class="fa fa-calendar"></i> 25/02/2018</p>
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->

</div>
<!-- Small news -->

<!-- Small news -->
<div class="single-news mb-4">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3">

        <!--Image-->
        <div class="view overlay rounded z-depth-1 mb-4">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/87.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
    </div>

</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-9">
    <!-- Excerpt -->
    <h5 class="font-weight-bold text-truncate mb-3"><a href="#!current-affairs-full" class="green-text">Title of the current affairs goes here from now with new heading</a></h5>
    <p class="dark-grey-text pull-left"><i class="fa fa-calendar"></i> 24/02/2018</p>
</div>
<!-- Grid column -->

</div>
<!-- Grid row -->

</div>
<!-- Small news -->

<!-- Small news -->
<div class="single-news">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3">

        <!--Image-->
        <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
    </div>

</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-9">
    <!-- Excerpt -->
    <h5 class="font-weight-bold text-truncate mb-3"><a href="#!current-affairs-full" class="green-text">Title of the current affairs goes here from now with new heading</a></h5>
    <p class="dark-grey-text pull-left"><i class="fa fa-calendar"></i> 23/02/2018</p>
</div>
<!-- Grid column -->

</div>
<!-- Grid row -->

</div>
<!-- Small news -->

</div>
<!--Grid column-->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">
    <!-- Grid column -->
    <div class="col-lg-12 col-md-12 my-4 text-center">
        <a href="#!current-affairs" class="btn btn-lg btn-success font-weight-bold waves-effect">View More <i class="fa fa-angle-double-right"></i></a>
    </div>
</div>
</section>

<hr class="between-sections mt-0">

<section class="text-center my-5">

          <!-- Section heading -->
          <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2>

          <!-- Carousel Wrapper -->
          <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                  </div>
                  <!--Content-->
                  <p>
                    <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
                  </p>
                  <h4 class="font-weight-bold">Anna Deynah</h4>
                  <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                  
                </div>
              </div>
              <!--First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid" alt="Second sample avatar image">
                  </div>
                  <!--Content-->
                  <p>
                    <i class="fa fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore. </p>
                  <h4 class="font-weight-bold">Maria Kate</h4>
                  <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
                 
                </div>
              </div>
              <!--Second slide-->
              <!--Third slide-->
              <div class="carousel-item">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid" alt="Third sample avatar image">
                  </div>
                  <!--Content-->
                  <p>
                    <i class="fa fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                  <h4 class="font-weight-bold">John Doe</h4>
                  <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
                  
                </div>
              </div>
              <!--Third slide-->
            </div>
            <!--Slides-->
            <!--Controls-->
            <a class="carousel-item-prev left carousel-control" href="javascript:void(0)" data-target="#carousel-example-1" role="button" data-slide="prev">
                            <span class="icon-prev" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
            <a class="carousel-item-next right carousel-control" href="javascript:void(0)" data-target="#carousel-example-1" role="button" data-slide="next">
                            <span class="icon-next" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
            <!--Controls-->
          </div>
          <!-- Carousel Wrapper -->

        </section>

<hr class="between-sections mt-0">

<!-- Section: Contact v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-4">

      <!-- Form with header -->
      <div class="card">
        <div class="card-body">
          <!-- Header -->
          <div class="form-header blue accent-1">
            <h3 class="mt-2"><i class="fa fa-envelope"></i> Write to us:</h3>
        </div>
        <p class="dark-grey-text">We'll write rarely, but only the best content.</p>
        <!-- Body -->
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form-name" class="form-control">
            <label for="form-name">Your name</label>
        </div>
        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="form-email" class="form-control">
            <label for="form-email">Your email</label>
        </div>
        <div class="md-form">
            <i class="fa fa-tag prefix grey-text"></i>
            <input type="text" id="form-Subject" class="form-control">
            <label for="form-Subject">Subject</label>
        </div>
        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="form-text" class="form-control md-textarea" rows="3"></textarea>
            <label for="form-text">Message</label>
        </div>
        <div class="text-center">
            <button class="btn btn-light-blue">Send Now <i class="fa fa-send-o"></i></button>
        </div>
    </div>
</div>
<!-- Form with header -->

</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-lg-7">

  <!-- Google map-->
  <div id="map-container" class="rounded z-depth-1-half map-container" style="height: 400px">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7003.211159574463!2d77.1855!3d28.641581!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64fc8dd41602b6a0!2sjIgyASa+IAS+Academy!5e0!3m2!1sen!2sin!4v1535463594161" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <br>
  <!-- Buttons-->
  <div class="row text-center">
    <div class="col-md-4">
      <a class="btn-floating blue accent-1">
        <i class="fa fa-map-marker"></i>
    </a>
    <p>Old Rajinder Nagar</p>
    <p class="mb-md-0">New Delhi, 110060</p>
</div>
<div class="col-md-4">
  <a class="btn-floating blue accent-1">
    <i class="fa fa-phone"></i>
</a>
<p>+91 9650294824</p>
<p class="mb-md-0">Mon - Sat, 8:00-22:00</p>
</div>
<div class="col-md-4">
  <a class="btn-floating blue accent-1">
    <i class="fa fa-envelope"></i>
</a>
<p>jigyasaias@gmail.com</p>
<p class="mb-0">jigyasaias.dev@gmail.com</p>
</div>
</div>

</div>
<!-- Grid column -->

</div>
<!-- Grid row -->

</section>
<!-- Section: Contact v.1 -->



</div>

                <!-- <div class="col-md-2 col-sm-2">
                    <div id="scrollspy" class="sticky">
                      <ul  class="nav nav-pills py-3 mb-r default-pills smooth-scroll" data-allow-hashes="true">
                        <li class="nav-item py-1"><a class="nav-link" href="#introduction"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-bar-chart fa-fw"></i> Recent Posts</span>
                                    </div>
                                </div></a></li>
                        <li class="nav-item py-1"><a class="nav-link " href="#v-2"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-bar-chart fa-fw"></i> Current Affairs</span>
                                    </div>
                                </div></a></li>
                        <li class="nav-item py-1"><a class="nav-link " href="#v-3"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-bar-chart fa-fw "></i> Article Of The Day</span>
                                    </div>
                                </div></a></li>
                        <li class="nav-item py-1"><a class="nav-link " href="#v-4"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-bar-chart fa-fw"></i> Answer Writing</span>
                                    </div>
                                </div></a></li>
                        <li class="nav-item py-1"><a class="nav-link" href="#v-1"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-download fa-fw"></i> Downloads</span>
                                    </div>
                                </div></a></li>
                        <li class="nav-item py-1"><a class="nav-link " href="#v-3"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-bar-chart fa-fw "></i> Free Daily Test</span>
                                    </div>
                                </div></a></li>
                        <li class="nav-item py-1"><a class="nav-link " href="#v-4"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-bar-chart fa-fw"></i> Prelims Test Series</span>
                                    </div>
                                </div></a></li>
                        <li class="nav-item py-1"><a class="nav-link" href="#v-1"><div class="row">
                                    <div class="col-12">
                                        <span class="mb-3"><i class="fa fa-download fa-fw"></i> Mains Test Series</span>
                                    </div>
                                </div></a></li>
                      </ul>
                    </div>
                </div> -->
            </div>
        </div>
        
    </main>
    <!--/Main layout-->
